a {
    cursor:pointer;
}
 input {
        border-radius: 3px;
        border: 1px solid rgba(128, 128, 128, 0.57);
        padding: 0 4px 0 4px;              
}
    input:focus {
        box-shadow: 0px 0px 3px 0px rgba(68, 67, 71, 0.89)
    }

@media print {
    .no-print{
        display:none;
    }    
    footer {
        display: none;
    }
    a[href]:after {
        content: none !important;
    }
}        
@font-face {
      font-family: 'Bubblegum Sans';                  
      src: url("../lib/font/BubblegumSans-Regular.otf") format("opentype");
}
a.ss-logo{
    text-decoration:none;
    font-size:28pt;
    padding-top:25px;
    margin-left:10px;
    font-family: "Bubblegum Sans";
    color:#444;
   /* color:rgba(213, 63, 63, 0.92);*/
}
span.ss-version{
    margin-left:-5px;
    font-size:12pt;    
}
div.ss-tagline{
    margin-top:-10px;    
    font-size:9pt;
    margin-left:10px;
}
html, body {
    height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#content{
    padding-bottom:55px;                
}
footer {
    width:100%;
    background:rgba(116, 111, 111, 0.79);
    text-align:center;
    padding:10px;
    padding-bottom:30px;                
    bottom:0;
    position:absolute;   
    height:30px;  
}

@media only screen and (max-width : 550px){
    footer {
        padding-bottom:55px;
        height:55px;  
    }
    #content{
        padding-bottom:70px;                
    }
     div.ss-home-intro{
        height: calc(90vh - 110px);            
    }
}

footer  a {
    color: white;
    padding-left:15px;
    padding-right:15px;                
}
footer a:hover{
    color: black !important;
}        
.ss-footer-section{
    border-left: 1px solid black;
}
.ss-footer-section-header{
    padding-left:15px;
    padding-right:15px;                
    font-size:large;
    text-align:left;
}
.ss-help-icon{
    opacity:.6;    
    cursor:pointer;
    font-size:12pt;
}
.ss-help-icon:hover{
    opacity:.9;    
}
.ss-help{
    display:none;
    border: 1px solid rgba(119, 155, 26, 0.55);
    padding: 5px 10px 5px 10px;
    position: relative;
    background-color: beige;
    border-radius: 4px;
    max-width: 400px;
    z-index: 999;
    top:-25px;
    left:25px;
    font-size:13px;
}
.ss-help-browser-incompatible{
    font-size:11px;
    font-style:italic;
    margin-top:5px;
}
