a {
    cursor:pointer;
}
 input {
        border-radius: 3px;
        border: 1px solid rgba(128, 128, 128, 0.57);
        padding: 0 4px 0 4px;              
}
    input:focus {
        box-shadow: 0px 0px 3px 0px rgba(68, 67, 71, 0.89)
    }

@media print {
    .no-print{
        display:none;
    }    
    footer {
        display: none;
    }
    a[href]:after {
        content: none !important;
    }
}        
@font-face {
      font-family: 'Bubblegum Sans';                  
      src: url("../lib/font/BubblegumSans-Regular.otf") format("opentype");
}
a.ss-logo{
    text-decoration:none;
    font-size:28pt;
    padding:25px;
    font-family: "Bubblegum Sans";
    color:#444;
}
span.ss-version{
    margin:-25px;
    /*font-style:italic;*/
    font-family: "Bubblegum Sans";
}
html, body {
    height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#content{
    padding-bottom:50px;                
}
footer {
    width:100%;
    background:rgba(116, 111, 111, 0.79);
    text-align:center;
    padding:10px;
    padding-bottom:30px;                
    bottom:0;
    position:absolute;   
    height:30px;  
}
footer > a {
    color: white;
    padding-left:15px;
    padding-right:15px;                
}
footer > a:hover{
    color: black !important;
}        
