<div ng-controller="ClassroomCtrl">
    <div class="step-header">Classroom Setup</div>
        <div class="row">
            Divide {{class.students.length - 1}} students into            
                <input class="table-size" min="2" ng-model="home.classroom.tableCount" 
                    ng-change="home.classroom.tableCountChange()" type="number"/>  tables.                
        </div>
        <div class="row">
        <div class="home-table-setup " ng-repeat="table in class.tableSizes">
            <span>Table #{{$index + 1}}: <input class="table-size" ng-model="table.size" type="number" /></span>
        </div>
    </div>
</div>
