<div class="col-md-2"></div>
<div ng-controller="HomeCtrl" class="container col-md-8">  
    <div ui-view></div>              
    <div class="row" style="margin-top:25px;">
        <div class="pull-left">
            <button ng-if="home.lastStep()" class="btn btn-default btn-sm" ng-click="home.startOver()">Start Over</button>  
            <button ng-if="!home.firstStep()" class="btn btn-default btn-sm" ng-click="home.navigate(false)">Back</button>  
        </div>
        <div class="pull-right">
            <button ng-if="!home.lastStep()" class="btn btn-default btn-sm" ng-click="home.navigate(true)">Next</button>                                          
            <button ng-if=" home.lastStep()" class="btn btn-default btn-sm" ng-click="home.seatingChart.shuffle()">Shuffle</button>    
        </div>        
    </div>   
</div>
<style>
    div.step-header{
        font-size:16pt;
        font-family: 'Bubblegum Sans';  
        margin:10px;
    }
    div.student-name{
        margin:10px;
    }
    span.student-name {
        padding:5px;        
        float:left;
    }
    input.student-name.duplicate {
        box-shadow: 0px 0px 3px .5px rgba(255, 0, 0, 1);
    }
   
    .table {
        float: left;
        margin: 20px;
        border: 1px solid gray;
        border-radius: 4px;
        width: 150px;
    }
    
    .table-header{        
        font-weight: bold;
        border-bottom: 1px solid gray;
        background: rgba(211, 211, 211, 0.37);
        text-align: center;
        padding:4px;
    }
    .table-student{
        margin-left:7px;
    }
    td.pair-item{     
        padding:7px 15px;
    }   
    td.pair-item > div{        
        border: 1px solid rgba(128, 128, 128, 0.65);
        padding: 5px;
        border-radius: 3px;      
        min-width:125px;
        background-color: rgba(160, 153, 153, 0.22 );
    }
    .icon-button{
        cursor:pointer;
        opacity:.6;
    }
    .icon-button:hover{
        opacity:.9;
    }
    .restriction-student{
        padding:5px;
        float:right;
        width:150px;               
    }
    
   @media only screen and (min-device-width : 768px) {
        .restriction-student{
            float:left !important;
        }    
    }    
    .restriction-student:not(.invalid):hover{
        cursor:pointer; 
        color:blue;        
    }
    .restriction-student.invalid{
        opacity:.3;
    }
    
</style>
