<div ng-controller="SeatingChartCtrl">
    <div class="row">
        <div class="col-xs-12">
        <div ss-help class="pull-left">
            Drag and drop students from one table to another to rearrange the classroom.
            If you place incompatible students together, both of their names will turn red.
        </div>  
            <div ng-repeat="table in class.seatingChart" class="table">
                <div class="table-header">Table {{$index + 1}} </div>
                    <div class="table-student draggable" style="margin-bottom:3px;"                    
                        ss-seating-chart="{dragDropKey: student.name}"
                        ng-repeat="student in table">
                        <span ng-class="{'table-student-invalid': !student.placementValid}">{{student.name}}</span>
                    </div>        
            </div> 
        </div>
    </div>    
    <div ng-if="home.seatingChart.error" class="alert alert-danger">
        Uh-oh! I failed to generate a seating chart for you, but I can't quite figure out why.
        You can <a ng-click="home.seatingChart.generate()">try again</a> if you'd like.
    </div>    
    <div class="no-print alert alert-warning" ng-if="home.seatingChart.shuffled && !home.seatingChart.error">        
            This seating chart has been shuffled, so SeatStat will not remember
            it if you leave and come back. Please 
            <a ng-click="home.seatingChart.print()">print this page</a>
            before navigating away from the seating chart.        
    </div> 
</div>
<style>
    .home-seating-chart-shuffled{
        border:1px solid rgba(255, 0, 0, 0.34);
        background: pink;
        border-radius:5px;
        padding:15px;
    }
    .table-student-invalid{
        color: red;
    }
    .table-student.draggable{        
        cursor:pointer;        
    }
    .table-student.draggable:hover:not(.ss-home-seating-chart-dragging){        
        /*background-color:beige; */
        /*for some reason this looks screwy on drop */
    }
    .ss-home-seating-chart-dragging{        
        opacity:.6;
        font-style:italic;
    }     
</style>
