<div ng-controller="StudentsCtrl">
    <div class="step-header">Students</div>                
    <div class="row" style="max-width:800px">
        <div ng-repeat="student in class.students" class="student-name">            
            <span class="student-name" >
                <input class="student-name" ng-model="student.name" 
                    ng-change="home.students.studentChange($index)" ng-blur="home.studentBlur($index)"
                    ng-class="{'duplicate': home.students.duplicateStudent(student)}"/>
            </span>                           
        </div>            
        <div ng-show="class.students.length === 1" style="font-style:italic;padding:5px;"> First time here? 
            Load <a ng-click="home.students.loadSampleData()">some sample</a> 
            data to see how SeatStat works.
        </div>
    </div>   
</div>
