Welcome to SeatStat! This app is in beta and is still under active development.
As an early adopter, your feedback is very valuable (really).
Please try it out, and submit your questions, comments, and general feedback.
For updates, like SeatStat on 
<a href="https://www.facebook.com/pages/SeatStat/518430788259350">facebook</a> 
or follow it on 
<a href="https://twitter.com/seatstat">twitter</a>. See the <a href="/about">about page</a> for details.

<div class="pull-right hide-message">
    <a ng-click="header.hideBannerMessage(false)">Ok</a>        
    <a ng-click="header.hideBannerMessage(true)">Don't show this again</a>    
</div>
