<div ng-controller="HomeCtrl" class="container">        
    <div style="margin-top:25px;">
            <button ng-if="home.step !== 2" class="btn btn-info btn-sm pull-right" ng-click="home.generateGroups()">Go!</button>
            <button ng-if="home.step === 2" class="btn btn-info btn-sm pull-right" ng-click="home.step = 0">Reset</button>
    </div>
    <div ng-if="home.step === 0">
        <div class="step-header">Students</div>
        
        <div class="row" style="max-width:600px">
            <div ng-repeat="member in home.members" class="member-name">
                <span class="member-name" >
                    <input class="member-name" ng-model="member.name" 
                        ng-change="home.memberChange($index)" ng-blur="home.memberBlur($index)"/>
                </span>
            </div>
        </div>        
        <div class="row">
            Divide {{home.members.length - 1}} students into
            <span ng-show="home.evenDivision()">{{(home.members.length - 1) / home.groupSize}} </span>
             groups of 
                <input class="group-size" min="1" ng-model="home.groupSize" type="number"/>  each.
            <div ng-show="!home.evenDivision()">You can't divide {{home.members.length - 1}} by {{home.groupSize}} evenly, so you 
            will have one table with only {{(home.members.length - 1) % home.groupSize}} student(s).
                
                    
                    <!--there are two main configurations: an extra table or not, with an extra table, one
                    table will be short, without, one table will have extra. The overage can be left on one table
                    or spread as evenly as possible. Same for the short. Easier is to make an assumption about spreading 
                    evenly, ask if they want more or less, or 'another configuration', which will be entirely customizable. -->                    
                
            </div>
                
        </div>
    </div>        
    <div ng-if="home.step === 1">
        <div class="step-header">Restrictions</div>
        <div class="row">
            <div class="col-sm-6">                            
                <table ng-show="home.illegalPairs.length">
                    <tbody>
                        <tr ng-repeat="pair in home.illegalPairs" >
                            <td class="pair-item"><div>{{pair[0]}}</div></td>                            
                            <td class="pair-item"><div ng-show="pair[1].length">{{pair[1]}}</div></td>
                            <td><span ng-click="home.removeIllegalPair($index)" title="Remove" class="glyphicon glyphicon-remove icon-button"/></td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="!home.illegalPairs.length">
                    You have no restrictions on placement. Start by clicking on the names on the right to add
                    pairs  of students that cannot sit together.
                </div>                                
            </div> 
            <div class="col-sm-4">
                <div ng-repeat="member in home.members" ng-click="home.addToIllegalPair(member)" 
                class="illegal-pair-member"
                ng-class="{'invalid': !home.validInIllegalPair(member)}"
                >{{member.name}}</div>
            </div>
        </div>
    </div>
    <div ng-if="home.step === 2">
        <div class="row">
            <div class="col-xs-12">
                <div ng-repeat="group in home.groups" class="group">
                    <div class="group-header">Table {{$index + 1}} </div>
                    <div class="group-member" ng-repeat="member in group">{{member}}</div>        
                </div> 
            </div>
        </div>        
    </div>     
    <div class="row" style="margin-top:25px;" ng-if="home.step !== 2">
        <div class="col-xs-3">
            <button ng-if="home.step !== 0" class="btn btn-default btn-sm" ng-click="home.step = home.step - 1">Back</button>  
        </div>
        <div class="col-xs-3">
            <button ng-if="home.step !== 1" class="btn btn-default btn-sm" ng-click="home.step = home.step + 1">Next</button>                    
        </div>        
    </div>   
</div>
<style>
    div.step-header{
        font-size:large;
    }
    div.member-name{
        margin:10px;
    }
    span.member-name {
        padding:5px;        
        float:left;
    }
    input {
        border-radius: 3px;
        border: 1px solid rgba(128, 128, 128, 0.57);
        padding: 0 4px 0 4px;        
    }
        input:focus {
            box-shadow: 0px 0px 3px 0px rgba(49, 9, 150, 0.89);            
        }
    input.group-size {
        width:40px;
    }
    .group {
        float: left;
        margin: 20px;
        border: 1px solid gray;
        border-radius: 4px;
        width: 150px;
    }
    
    .group-header{        
        font-weight: bold;
        border-bottom: 1px solid gray;
        background: rgba(211, 211, 211, 0.37);
        text-align: center;
        padding:4px;
    }
    .group-member{
        margin-left:7px;
    }
    td.pair-item{     
        padding:7px 15px;
    }   
    td.pair-item > div{        
        border: 1px solid rgba(128, 128, 128, 0.65);
        padding: 5px;
        border-radius: 3px;      
        min-width:125px;
        background-color: rgba(160, 153, 153, 0.22 );
    }
    .icon-button{
        cursor:pointer;
        opacity:.6;
    }
    .icon-button:hover{
        opacity:.9;
    }
    .illegal-pair-member{
        padding:5px;
        float:left;
        width:150px;               
    }
     .illegal-pair-member:not(.invalid):hover{
        cursor:pointer; 
        color:blue;        
    }
    .illegal-pair-member.invalid{
        opacity:.3;
    }
    
</style>
