<div ng-controller="HomeCtrl">    
    <div>
        <div ng-repeat="member in home.members" style="float:left">
            <input ng-model="member.name"/>
        </div>
    </div>        
    <div style="float:none">
        <button class="btn" ng-click="home.addMember()">Add</button>
        <button class="btn" ng-click="home.generateGroups()">Go</button>
        <label> Group Size: <input ng-model="home.groupSize" /> </label>
    </div>
    <div>
        <div ng-repeat="group in home.groups">
            Group: <span ng-repeat="member in group">{{member.name}}</span>
        </div>    
    </div>    
</div>
