Welcome to SeatStat! This app is not ready for public consumption.
Both the layout and content are subject to change dramatically and without notice,
and the accuracy of the results is not guaranteed. 
Please feel free to try it out, however. Questions, comments, and general feedback are all welcome. 
See the <a href="/about">about page</a> for details. Thanks.

<div class="pull-right hide-message">
    <a ng-click="header.hideBannerMessage(false)">Ok</a>        
    <a ng-click="header.hideBannerMessage(true)">Don't show this again</a>    
</div>
